<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clearly</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  </head>
  <body>
    <div class="menu">
      <ul class='active'>
        <li><a href="#">News</a></li>
        <li><a href="#">Rooms</a></li>
        <li><a href="#">Food and Menus</a></li>
        <li><a href="#">Magellan</a></li>
        <li><a href="#">Napoleon</a></li>
      </ul>
    </div>
    <a class="toggle-nav" href="#">&#9776;</a>
    <main>
    <%- body %>
  </main>
  <script src="/scripts/scripts.js"></script>
  </body>
</html>
